RewriteEngine On

# Adjust Base if necessary, but usually just / is fine if placed in root
RewriteBase /filipino-inventor/

# Allow access to real files (images, css, js)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to public/index.php
RewriteRule ^(.*)$ public/index.php [L,QSA]